# WhatsApp Configuration
NUXT_PUBLIC_WHATSAPP_NUMBER=

# Site Configuration
NUXT_PUBLIC_BASE_URL=https://remoteforhive.com
NUXT_PUBLIC_SITE_NAME=Remote For Hive

# Development
NUXT_PUBLIC_DEV_MODE=true